<%= form_for(@rule) do |f| %>
  <% if @rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rule.errors.count, "error") %> prohibited this rule from being saved:</h2>

      <ul>
      <% @rule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_number %><br>
    <%= f.text_field :product_number %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.select :condition, Rule::CONDITIONS %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.collection_select(:product_id, Product.all, :id, :name)%>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :measurment %><br>
    <%= f.select :measurment, Rule::MEASURMENTS.keys %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
